.film-card{
    width: 250px;
    height: 350px;
    position: relative;
    transition: all .4s;
    margin: 15px 0;
    border-radius: 5px;
}
.film-card:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.film-card>img,
.film-text{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}
.film-card>img{
    z-index: 2;
}
.film-text{
    z-index: 3;
    background: linear-gradient(180deg, rgba(29, 29, 29, 0.1) 15.78%, rgba(29, 29, 29, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    font-size: 18px;
}
.film-info>p:nth-child(2){
    font-size: 14px;
}
.rating{
    color: orange;
}
.gener-list{
    display: flex;
    flex-wrap: wrap;
}
.gener{
    padding: 3px 15px;
    border-radius: 10px;
    background-color: rgba(137, 143, 148, 0.767);
    color: black;
    margin-right: 5px;
    font-size: 16px;
    margin-bottom: 5px;
}