@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

*, html, body{
    font-weight: 400; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    list-style: none;
}
body{
    overflow-x: hidden;
}
.wrapper{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
}
footer,header{
    width: 100vw;
}
